#credits {
    width: 100vw;
    overflow-x: hidden;
    min-height: 75vh;
    background: black;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

#credits h3 {
    font-weight: 800;
    font-size: 1.3rem;
}

#credits h5 {
    font-weight: 600;
    font-size: 1rem;
}

@media (max-width: 800px) {
    #credits h3 {
        font-size: 0.9rem;
    }
    
    #credits h5 {
        font-size: 0.8rem;
    }
    
}

.credits-row {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    gap: 4vw;
}

.credits-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 50vh;
    gap: 3vh;
}

#credits .text-link {
    cursor: pointer;
}