
  /** MAKE DISSAPEAR ON DOWN-SCROLL, REAPPEAR ON UP-SCROLL **/
  #topNav {
    z-index: 1;
    position: fixed;
    margin-top: 15px;
  }
  
  /** CHANGE FADEIN ANIMATION TO APPLY INDIVIDUALLY **/
  #navLinks {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    opacity: 0;
    align-items: center;
    animation: fadein 2s ease-in-out forwards;
    animation-delay: 3s;
  }
  
  .linkSpacer {
    width: 15vw;
    display: inline-block;
    border-top: dashed 2px white;
    padding-bottom: 3px;
    margin-right: 1vw;
    margin-left: 1vw;
    transition: margin 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  .linkItem {
    border: 2px solid white;
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    transition: margin 0.4s ease-in-out;
  }
  
  .linkItem:hover {
    background: white;
    color: black;
    cursor: pointer;
  }
  
  .jumplink {
    color: inherit;
    text-decoration: none;
    z-index: 2;
    font-weight: 800;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  @keyframes slideNavAway {
    from {
        margin-top: 15px;
    } 
    to {
        margin-top: -100px;
    }
  }

  @keyframes slideNavIn {
    from {
        margin-top: -100px;
    }
    to {
        margin-top: 15px;
    }
  }