* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.hidden {
    visibility: hidden;
}

.text-link {
    color: white;
    text-underline-offset: 3px;
}

.text-link:hover {
    color: rgb(190, 190, 190);
    text-underline-offset: 0;
    cursor: help;
}
  
/** wave **/
.custom-shape-divider-bottom-1687199849 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1687199849 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 62px;
}

.custom-shape-divider-bottom-1687199849 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-bottom-1687300675 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1687300675 svg {
    position: relative;
    display: block;
    width: calc(128% + 1.3px);
    height: 63px;
}

.custom-shape-divider-bottom-1687300675 .shape-fill {
    fill: #000000;
}