#titlesection {
  display: flex; 
  position: relative;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  width: 100vw; 
  height: 100%; 
  min-height: 100vh;
  padding-bottom: 150px;
  background: black; 
  color: white;
  overflow-x: hidden;
}

#bam {
  animation: textGrow 0.4s;
  animation-fill-mode: forwards;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30vw;
  transition: font-size 0.1s ease-in-out;
}

@keyframes textGrow {
  from { font-size: 0.1vw; }
  85% { font-size: 30vw; }
  to { font-size: 28vw; }
}

#sub {
  display: grid;
  font-size: 2.5vw;
  grid-template-columns: repeat(3, 1fr);
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}

#sub1 {
  animation: fadein 0.5s forwards;
  animation-delay: 0.8s;
  opacity: 0;
}

#sub2 {
  animation: fadein 0.5s forwards;
  animation-delay: 1.6s;
  opacity: 0;
}

#sub3 {
  animation: fadein 0.5s forwards;
  animation-delay: 2.2s;
  opacity: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%; 
  }
}
