#bam {
  animation: textGrow 0.7s;
  animation-fill-mode: forwards;
  margin-top: 0;
  margin-bottom: 0;
}

@keyframes textGrow {
  from { font-size: 0.1rem; }
  85% { font-size: 30rem; }
  to { font-size: 25rem; }
}

#sub1 {
  animation: fadein1 2s forwards;
}

#sub2 {
  animation: fadein2 4s forwards;
}

#sub3 {
  animation: fadein3 6s forwards;
}

.spacer {
  width: 50px;
}

@keyframes fadein1 {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 100%; 
  }
}

@keyframes fadein2 {
  from {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  to {
    opacity: 100%; 
  }
}

@keyframes fadein3 {
  from {
    opacity: 0;
  }
  83% {
    opacity: 0;
  }
  to {
    opacity: 100%; 
  }
}
