#bam {
  animation: textGrow 0.4s;
  animation-fill-mode: forwards;
  margin-top: 0;
  margin-bottom: 0;
}

@keyframes textGrow {
  from { font-size: 0.1rem; }
  95% { font-size: 30rem; }
  to { font-size: 28rem; }
}

#sub1 {
  animation: fadein1 1s forwards;
}

#sub2 {
  animation: fadein2 2s forwards;
}

#sub3 {
  animation: fadein3 3s forwards;
}

.spacer {
  width: 17rem;
  display: inline-block;
}

@keyframes fadein1 {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 100%; 
  }
}

@keyframes fadein2 {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 100%; 
  }
}

@keyframes fadein3 {
  from {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  to {
    opacity: 100%; 
  }
}
